header{
    background-color: black;
    text-align: center;
}
header h1{
    color: aliceblue;
    padding: 10px;
}
header nav ul{
    padding: 10px;
}
header nav ul li {
    color: antiquewhite;
    display: inline;
    padding: 50px;
    /* margin: 50px; */
}
header nav ul li a{
    color: antiquewhite;
    text-decoration: none;
}

body{
    text-align: center;
    background-image: url('bg.webp'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#Home img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

#Bio pre{
    font-family: 'Times New Roman', Times, serif;
}

/* #Portfolio{
    
    background-color:aliceblue; */
    /* background-blend-mode:; */
    /* background: radial-gradient(aliceblue,rgb(209, 224, 235));
} */

#Portfolio pre{
    font-family: 'Times New Roman', Times, serif;
}

#Skills ul li{
    color: black;
    display: inline;
    padding: 50px
}

footer{
    background-color: rgb(128, 128, 128,0.5);
    padding: 10px;
}